

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('../icons/wave.svg');
  background-repeat: no-repeat;
  background-position:top;
  background-color: #F9F2EC;
  padding-bottom: 20px;
}

.footer-text {
  margin: 50px 0;;
  font-weight: 500;  
  font-family: 'Poppins', sans-serif;
}

.footer-text, .footer-heading, .footer-addres, .item1 p, .item2 p, .item3 p, .copyright-text{
  font-family: 'Poppins', sans-serif;
}


.col1 {
  text-align: left;
  flex: 0.4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-col2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-bottom{
    display: flex;
    margin-top: auto;
}

.footer-social{
    display: flex;
    text-align: left;
    gap: 20px;
}

.copyright-text {
    text-align: left;
  font-size: 14px;
  font-weight: 500;
}
