

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url('/public/images/footer-bg.png');
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  padding-bottom: 20px;
}

.footer p.lead {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 80px;
}
.footer-about h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #000;
  line-height: 1.3;
}

.footer a {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.footer-about p {
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.footer .social-icon.si-dark {
  background-color: #000;
  margin-right: 12px;
}

.footer-menu.no-tree a, .footer-menu h4 {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.footer-menu {
  margin-top: 24px;
}

.footer-menu ul {
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.footer-menu ul li a {
  font-size: 16px;
  padding: 8px 0;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
}

.footer-copyright {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
  position: relative;
  margin-top: 30px;
}