.coaching-main-slider {
  max-width: 1440px;
  margin: auto;
}

.item img {
  border-radius: 10px;
  min-width: 250px;
}

.coaching-main-slider .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  border: solid 2px #f5ac00;
  background-color: #fff !important;
}

.coaching-main-slider .owl-dots .owl-dot.active {
  border-color: #000;
  background-color: #f5ac00 !important;
}

.owl-theme .owl-dots .owl-dot span {
  display: none !important;
}

.slider-element .owl-dots {
	position: absolute;
	width: 100%;
	z-index: 20;
	margin: 0;
	top: auto;
	bottom: -50px;
}

.slider-element .owl-dots button {
	width: 10px;
	height: 10px;
	margin: 0 3px;
	opacity: 1 !important;
	background-color: transparent !important;
	border: 1px solid #FFF;
}
.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
	margin: 30px 4px 0 4px;
	opacity: 0.5;
	border-radius: 50%;
	background-color: #F5AC00;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.owl-carousel .owl-dots .owl-dot.active,
.owl-carousel .owl-dots .owl-dot:hover { opacity: 1; }

.coaching-main-slider {
    margin-top: 0;
    overflow: visible;
}