.slidertwo {
  max-width: 1440px;
  margin: 50px auto;
  display: flex;
  gap: 40px;
}

.text-slider {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0.4;
}

.bVoXXg{
  min-width: 160px;
}

.bqyzQp {

  flex: 0.6;
}

.heading-slider {
  font-size: 30px;
  font-weight: bold;
}

.slidertwo .swiper-button-next,
.slidertwo .swiper-button-prev {
  top: 90%;
}

.swiper-button-next {
  right: 42%;
}

.swiper-button-prev {
  left: 42%;
}

.slidertwo .swiper {
  height: 560px;
  flex: 0.7;
}

.slidertwo .swiper-button-next {
  width: 100px;
  height: 50px;
  background-image: url(../icons/right.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.slidertwo .swiper-button-prev {
  width: 100px;
  height: 50px;
  background-image: url(../icons/left.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}



.slidertwo .swiper-button-next::after {
  display: none;
}

.slidertwo .swiper-button-prev::after {
  display: none;
}

.image-slider2{
  width: 100%;
  position: relative;
  z-index: 1;
  top: 0px;
}
.textoverlay{
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding: 0 20px;
}

.heading-overlay{
  font-size: 24px;
  font-weight: bold;
}

.desc-overlay{
  font-size: 16px;
}