.slidertwo {
  max-width: 1440px;
  margin-bottom: 100px;
  display: flex;
  gap: 40px;
}

.text-slider {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0.4;
}

.slidertwo .hNAxas {
  margin: 0 !important;
}

.slidertwo .bhRnqO {
  background-image: url('../icons/right.svg') !important;
  background-repeat: no-repeat !important;
  height: 35px;
  width: 35px;
  background-size: 100% !important;
}

.slidertwo .bhRnqO::before{
  content: none !important;
}

.slidertwo .kVtMtA{
  background-image: url('../icons/left.svg') !important;
  background-repeat: no-repeat !important;
  height: 35px;
  width: 35px;
  background-size: 100% !important;
}

.slidertwo .kVtMtA::before{
  content: none !important;
}

.bqyzQp {

  flex: 0.6;
}

.heading-slider {
  font-size: 30px;
  font-weight: bold;
}

.slidertwo .swiper-button-next,
.slidertwo .swiper-button-prev {
  top: 90%;
}

.swiper-button-next {
  right: 42%;
}

.swiper-button-prev {
  left: 42%;
}

.slidertwo .swiper {
  height: 560px;
  flex: 0.7;
}

.slidertwo .swiper-button-next {
  width: 100px;
  height: 50px;
  background-image: url(../icons/right.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.slidertwo .swiper-button-prev {
  width: 100px;
  height: 50px;
  background-image: url(../icons/left.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}



.slidertwo .swiper-button-next::after {
  display: none;
}

.slidertwo .swiper-button-prev::after {
  display: none;
}

.image-slider2{
  width: 100%;
  z-index: 1;
  top: 0px;
}
.textoverlay{
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding: 0 20px;
}



.slidertwo .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: none;
}


.slidertwo .bhRnqO {
  left: 44px !important;
  top: 104% !important;
}

.slidertwo .kVtMtA {
  top: 104% !important;
  left: 0 !important;
}

.slidertwo .MMbPG{
  display: unset !important;
  margin: 20px 0 !important;
}

