.sliderthree {
  max-width: 1440px;
  margin: 50px auto;
}

.sliderthree .swiper-slide{
    height: 455px;
}

.sliderthree .heading-slider{
    padding: 0 100px;
    margin-bottom: 50px;
    width: 600px;
    font-size: 24px;
}

.sliderthree .swiper-button-next {
  width: 100px;
  height: 50px;
  background-image: url(../icons/right.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.sliderthree .swiper-button-prev {
  width: 100px;
  height: 50px;
  background-image: url(../icons/left.svg);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}

.sliderthree .swiper-button-next::after {
  display: none;
}

.sliderthree .swiper-button-prev::after {
  display: none;
}

.sliderthree .swiper-button-next,
.sliderthree .swiper-button-prev {
  top: 95%;
}

.sliderthree .swiper {
  height: 600px;
}

.sliderthree .image .image-slider{
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.kNBmiK{
  margin: 0 !important;
  }

  .image{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .overlay {
   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0,0,0,.5);

  }
  
  .image:hover .overlay {
    opacity: 1;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    color: white;
    position: absolute;
    top: 76%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .sliderthree .image {
    display: block;
  }
